@mixin text-gradient-color {
	//& text background color trick.
	background: linear-gradient(93.51deg, var(--gaslur-brand-0) 2.84%, var(--gaslur-brand-1) 99.18%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

@mixin text-base-config {
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

@mixin buttons-gradient {
	background: linear-gradient(103.91deg, var(--gaslur-brand-0) 21.01%, var(--gaslur-brand-1) 100%);
}

.root--gaslur {
	font-family: "Poppins", sans-serif;
	background-color: var(--gaslur-surface-0);

	padding: 0 max(2rem, 3vw);

	overflow-x: hidden;
	overflow-y: overlay;
	scrollbar-color: var(--gaslur-brand-0);

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 2px;

		&-thumb {
			border-radius: var(--radius-round);
			background-color: var(--gaslur-brand-0);
			background-image: linear-gradient(103.91deg, var(--gaslur-brand-0) 21.01%, var(--gaslur-brand-1) 100%);
		}
	}
}

.gaslur__header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	justify-items: center;

	&__link {
		margin-right: auto;
		display: inline-block;

		padding: 0.5rem 0;
		margin-right: auto;

		font-weight: 700;
		font-size: 3rem;

		@include text-base-config();
		@include text-gradient-color();
	}

	.nav {
		display: flex;

		&__link {
			$px: 1.5rem;
			padding: 1.25rem $px;
			font-weight: 500;

			@include text-base-config();

			&--current {
				position: relative;
				font-weight: 700;
				@include text-gradient-color();

				&::after {
					content: "";
					position: absolute;
					inset-inline: $px + 0.125;
					bottom: 0.75rem;

					height: 0.125rem;
					border-radius: var(--radius-round);

					background-color: var(--gaslur-brand-0);
					background-image: linear-gradient(90deg, var(--gaslur-brand-0) 53%, var(--gaslur-brand-1) 127%);
				}
			}
		}
	}

	.login {
		display: flex;
		align-items: center;
		gap: 2rem;
		margin-left: auto;

		&__link {
			padding: 1rem 2rem;
			color: var(--clr-text-1);

			@include text-base-config();

			&--border {
				border-radius: 0.625rem;
				border: 2px solid var(--clr-text-1);
			}
		}
	}
}

.main--gaslur {
	.main {
		display: grid;
		grid-template-columns: 3fr 2fr;
		justify-items: center;
		align-items: center;
		gap: clamp(4rem, 15vw + 1rem, 25rem);

		height: calc(100vh - 6rem);

		&__ctnr {
			padding: 3rem 0;

			&:last-child {
				margin-left: auto;
			}

			.btm {
				padding: 0.75rem 2.5rem;
				border-radius: 0.625rem;
				font-weight: 600;

				color: var(--clr-text-1);

				@include buttons-gradient();

				&--border {
					border: 1px solid var(--clr-text-1);
					background-image: var(--);
				}
			}
		}
	}

	.glass-card {
		$bottom-size: 4rem;
		$space: 1.75rem;

		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: $space;

		padding: $space;

		height: 36.5625rem;
		width: 31.875rem;

		backdrop-filter: blur(117px);
		z-index: 1;

		:is(&::before, &::after) {
			$size: 12rem;

			content: "";
			position: absolute;

			height: $size;
			width: $size;

			filter: blur(150px);
			z-index: -3;
		}

		&::before {
			top: -3rem;
			left: -6rem;

			background-color: var(--gaslur-brand-0);
		}

		&::after {
			right: -6rem;
			bottom: -3rem;

			background-color: var(--gaslur-brand-1);
		}

		&__svg {
			position: absolute;
			inset: 0;
			z-index: -1;
		}

		&__image {
			// height: 100%;
			width: auto;

			border-radius: var(--radius-4);
		}

		&__bottom {
			display: grid;
			grid-template-columns: 3.5rem 1fr 1fr;
			width: 100%;
		}
	}

	.list-wrapper {
		&__header {
			&__btm {
				color: var(--clr-text-1);
			}
			&__btms {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				padding: 0.5rem 1.5rem;

				height: min-content;

				font-weight: 600;
				font-size: 1.25rem;

				&:last-child {
					@include buttons-gradient();
					border-radius: 10px;
				}
			}
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(var(--number-of-col, 5), 1fr);
			gap: 2rem;
		}

		.item {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: end;
			gap: 0.5em;

			&::before {
				content: "";
				grid-row-start: 3;
				grid-column: 1 / span 2;

				height: 2px;
				// width: 100%;
				background-color: var(--clr-text-2);
			}

			&__end-date {
				color: var(--clr-text-2);

				time {
					color: var(--clr-text-0);
				}
			}

			&__btm {
				padding: 0.125em 1.25em;
				border-radius: 10px;
				border: 2px solid var(--clr-text-0);
			}
		}

		&__btm {
			margin: 5rem auto 0;
			padding: 0.5rem 1.75rem;
			border-radius: 10px;
			border: 1px solid var(--clr-text-2);
			color: var(--clr-text-2);
		}
	}

	.getting-started {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset-inline: 5rem;
			bottom: 6rem;
			border-radius: 100%;
			filter: blur(7rem);
			height: 3rem;
			background-color: var(--gaslur-brand-0);
			background-image: linear-gradient(90deg, var(--gaslur-brand-0) 23%, var(--gaslur-brand-1) 127%);
		}

		.item {
			display: grid;
			justify-items: center;
			gap: 2rem;

			&__icon {
				$size: 7rem;
				$side: 3px;
				$blur: 8px;

				display: grid;
				justify-content: center;
				align-items: center;

				border-radius: var(--radius-3);
				box-shadow: inset -#{$side} $side $blur -6px var(--clr-text-0);

				height: $size;
				width: $size;

				backdrop-filter: blur(2rem);
				background-color: hsla(var(--clra-text-0), 0.125);

				path {
					fill: var(--clr-text-2);
				}
			}

			&__text {
				width: 12rem;
				text-align: center;
				font-weight: 400;
			}
		}
	}
}

.footer--gaslur {
	$space: 2rem;

	display: grid;
	gap: $space;
	margin-bottom: $space;

	margin-top: 8rem;

	&::before {
		content: "";
		height: 2px;
		background-color: var(--clr-text-2);
		grid-row-start: 2;
		opacity: 0.5;
	}

	&__title {
		font-size: 2.75rem;
		max-width: 36rem;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}

	.sect {
		display: grid;
		grid-template-rows: min-content auto;
		gap: 1rem;

		&__title {
			font-size: 2rem;
		}

		&__list {
			display: inherit;
			gap: inherit;

			color: var(--clr-text-1);
			font-weight: 300;
			font-size: 1.25rem;
		}
	}
}
