@mixin text-gradient-color {
	//& text background color trick.
	background: linear-gradient(93.51deg, var(--gaslur-brand-0) 2.84%, var(--gaslur-brand-1) 99.18%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

@mixin text-base-config {
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.root--gaslur {
	font-family: "Poppins", sans-serif;
	background-color: var(--gaslur-surface-0);

	padding: 0 max(2rem, 3vw);

	overflow-x: hidden;

	.main-header {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		justify-items: center;

		&__nav {
			margin-right: auto;
		}

		&__links {
			display: none;

			&--current-page {
				display: inline-block;

				padding: 0.5rem 0;
				margin-right: auto;

				font-weight: 700;
				font-size: 3rem;

				@include text-base-config();
				@include text-gradient-color();
			}
		}

		.nav {
			display: flex;

			&__link {
				$px: 1.5rem;
				padding: 1.25rem $px;
				font-weight: 500;

				@include text-base-config();

				&--current {
					position: relative;
					font-weight: 700;
					@include text-gradient-color();

					&::after {
						content: "";
						position: absolute;
						inset-inline: $px + 0.125;
						bottom: 0.75rem;

						height: 0.125rem;
						border-radius: var(--radius-round);

						background-color: var(--gaslur-brand-0);
						background-image: linear-gradient(90deg, var(--gaslur-brand-0) 53%, var(--gaslur-brand-1) 127%);
					}
				}
			}
		}

		.login {
			display: flex;
			align-items: center;
			gap: 2rem;
			margin-left: auto;

			&__link {
				padding: 1rem 2rem;
				color: var(--clr-text-1);

				@include text-base-config();

				&--border {
					border-radius: 0.625rem;
					border: 2px solid var(--clr-text-1);
				}
			}
		}
	}
}

.main--gaslur {
	.main {
		display: grid;
		grid-template-columns: 3fr 2fr;
		justify-items: center;
		align-items: center;
		gap: clamp(4rem, 15vw + 1rem, 25rem);

		height: calc(100vh - 6rem);

		&__ctnr {
			padding: 3rem 0;

			&:last-child {
				margin-left: auto;
			}

			.btm {
				padding: 0.75rem 2.5rem;
				border-radius: 0.625rem;
				font-weight: 600;

				background: linear-gradient(103.91deg, var(--gaslur-brand-0) 21.01%, hsla(var(--a-gaslur-brand-1), 0.5) 100%);
				color: var(--clr-text-1);

				&--border {
					border: 1px solid var(--clr-text-1);
					background-image: var(--);
				}
			}
		}
	}

	.glass-card {
		$bottom-size: 4rem;
		$space: 1.75rem;

		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: $space;

		padding: $space;

		height: 36.5625rem;
		width: 31.875rem;

		backdrop-filter: blur(117px);
		z-index: 1;

		:is(&::before, &::after) {
			$size: 12rem;

			content: "";
			position: absolute;

			height: $size;
			width: $size;

			filter: blur(150px);
			z-index: -3;
		}

		&::before {
			top: -3rem;
			left: -6rem;

			background-color: var(--gaslur-brand-0);
		}

		&::after {
			right: -6rem;
			bottom: -3rem;

			background-color: var(--gaslur-brand-1);
		}

		&__svg {
			position: absolute;
			inset: 0;
			z-index: -1;
		}

		&__image {
			// height: 100%;
			width: auto;

			border-radius: var(--radius-4);
		}

		&__bottom {
			display: grid;
			grid-template-columns: 3.5rem 1fr 1fr;
			width: 100%;
		}
	}
}
