@mixin text-gradient-color {
	//& text background color trick.
	background: linear-gradient(93.51deg, var(--gaslur-brand-0) 2.84%, var(--gaslur-brand-1) 99.18%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

@mixin text-base-config {
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.root--gaslur {
	font-family: "Poppins", sans-serif;
	background-color: var(--gaslur-surface-0);

	.main-header {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		justify-items: center;

		&__nav {
			margin-right: auto;
		}

		&__links {
			display: none;

			&--current-page {
				display: inline-block;

				padding: 0.5rem 2rem;
				margin-right: auto;

				font-weight: 700;
				font-size: 3rem;

				@include text-base-config();
				@include text-gradient-color();
			}
		}

		.nav {
			display: flex;

			&__link {
				$px: 1.5rem;
				padding: 1.25rem $px;
				font-weight: 500;

				@include text-base-config();

				&--current {
					position: relative;
					font-weight: 700;
					@include text-gradient-color();

					&::after {
						content: "";
						position: absolute;
						inset-inline: $px + 0.125;
						bottom: 0.75rem;

						height: 0.125rem;
						border-radius: var(--radius-round);

						background-color: var(--gaslur-brand-0);
						background-image: linear-gradient(90deg, var(--gaslur-brand-0) 53%, var(--gaslur-brand-1) 127%);
					}
				}
			}
		}

		.login {
			display: flex;
			align-items: center;
			gap: 2rem;

			&__link {
				padding: 1rem 2rem;
				color: var(--clr-text-2);

				@include text-base-config();

				&--border {
					border-radius: 0.625rem;
					border: 2px solid var(--clr-text-1);
				}
			}
		}
	}
}



