@use "../../abstracts/" as *;

.header--02jf02n {
}

.main--skjlj02 {
	position: absolute;
	inset: 0;

	height: Min(100vh, 100%);

	.section {
		$height-sec: 100vh;

		height: $height-sec;

		&[data-sec="first"] {
			padding-top: 5rem;

			background-color: var(--district-surface-1);
			// margin-bottom: $height-sec * 0.8; // 80%
		}

		&[data-sec="second"] {
			background-size: 80%;
			background-position: 2rem;
			background-color: var(--district-surface-3);
		}

		&[data-sec="third"] {
			background-color: var(--district-surface-4);
		}
	}
}
