body {
	color: var(--clr-text-0);
	background: var(--clr-surface-1);
}

//! Main div with all the things
#root {
	//? Now #root is the new base
	position: absolute;
	inset: 0;
}

a,
button {
	cursor: pointer;
}

a:enter {
	text-decoration: underline;
}

:focus,
:focus-visible,
:focus-within {
	outline: 0;
}
